body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #000000;
    background-image: url('background.png');
    font-weight: bold; /* Make the text bold */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow */
}

#hangman-container {
    text-align: center;
}

#word-display {
    font-size: 24px;
    margin: 10px;
}

#incorrect-letters {
    font-size: 18px;
    margin: 10px;
}

#hangman {
    width: 200px;
    height: 200px;
    background-color: #66b2e5;
    margin: 20px;
    position: relative;
}

#hangman div {
    position: absolute;
}

#hangman div.line {
    width: 10px;
    height: 100px;
    background-color: #2c3e50;
    top: 20px;
    left: 95px;
}

#hangman div.head {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e74c3c;
    top: 20px;
    left: 75px;
}

#hangman div.body {
    width: 10px;
    height: 80px;
    background-color: #e74c3c;
    top: 70px;
    left: 95px;
}

#hangman div.arm-left {
    width: 40px;
    height: 10px;
    background-color: #e74c3c;
    top: 90px;
    left: 65px;
    transform: rotate(45deg);
}

#hangman div.arm-right {
    width: 40px;
    height: 10px;
    background-color: #e74c3c;
    top: 90px;
    left: 95px;
    transform: rotate(-45deg);
}

#hangman div.leg-left {
    width: 40px;
    height: 10px;
    background-color: #e74c3c;
    top: 152px;
    left: 91px;
    transform: rotate(45deg);
}

#hangman div.leg-right {
    width: 40px;
    height: 10px;
    background-color: #096d33;
    top: 130px;
    left: 115px;
    transform: rotate(-45deg);
}
